* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('/images/background_overall.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Đảm bảo body chiếm ít nhất toàn bộ chiều cao cửa sổ */
    overflow-x: hidden;
}

/*  Taskbar  */
header {
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px 0px 60px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/*  Taskbar  */

/* Home Section */
.hero {
    min-height: 100vh;
    background-image: url("/images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 200px;
    margin-right: 400px;
    transition: 0.5s ease-in-out;
}
.logo img:hover {
    transform: scale(1.15);
    
}

.nav-links {
    display: flex;
    gap: 35px;
}
.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    transition: color 0.3s;
}
.nav-links a:hover {
    color: #ffffff86;
    transform: scale(1.05); /* Phóng to block một chút */
}

.menu-welcome .btn{
    color: rgba(0, 0, 139, 1);
    font-size: 20px;
    margin: 0 auto;
    transition: 0.5s ease-in-out;
    text-align: center;
    width: 40%;
    padding: 10px 20px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px white;
}
.menu-welcome img {
    width: 500px;
    height: 150px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    transition: 0.5s ease-in-out;
}

.items .seasons{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}
/* Home Section */

/* About Us */
.about-us {
    width: 100%;
    padding: 78px 0px;
    background-image: url("/images/background_overall.png");
}
.about-text{
    width: 550px;
    width: 50%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 139, 0.2);
    border-radius: 10px;
}
.about-text h1{
    color: rgba(0, 0, 139, 1);
    font-size: 80px;
    transition: 0.5s ease-in-out;
    width: 87%; /*boxed button code from here*/
    padding: 10px 20px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px white;
}
.about-text h2{
    color: white;
    font-size: 30px;
    margin-left: 50px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


