* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('/images/background_overall.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Đảm bảo body chiếm ít nhất toàn bộ chiều cao cửa sổ */
    overflow-x: hidden;
}

/*  Taskbar  */
header {
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px 0px 60px;
    background-color: rgba(0, 0, 0, 1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
/*  Taskbar  */

/* Home Section */
.hero {
    min-height: 100vh;
    padding-top: 50px;
    background-image: url("/images/stars.png"),url("/images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 200px;
    margin-right: 400px;
    transition: 0.5s ease-in-out;
}
.logo img:hover {
    transform: scale(1.15);
    
}

.nav-links {
    display: flex;
    gap: 35px;
}
.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    transition: color 0.3s;
}
.nav-links a:hover {
    color: #ffffff86;
    transform: scale(1.05); /* Phóng to block một chút */
}

.menu-welcome .btn{
    color: rgba(0, 0, 139, 1);
    font-size: 20px;
    margin: 0 auto;
    transition: 0.5s ease-in-out;
    text-align: center;
    width: 40%;
    padding: 10px 20px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px white;
}
.menu-welcome img {
    width: 500px;
    height: 150px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    transition: 0.5s ease-in-out;
}

.items .seasons{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}
/* Home Section */

/* About Us */
img.taskbar_about {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
   }

.main{
    display: flex;
    justify-content: center;
    gap: 50px;
}

@keyframes rollIn {
    0% {
        transform: translateX(-100%) rotate(0deg);
    }
    50% {
        transform: translateX(-50%) rotate(180deg);
    }
    100% {
        transform: translateX(0) rotate(360deg);
    }
}

.main .planet_about_us img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150%;
    position: relative;
    left: -100%; /* Bắt đầu từ bên trái màn hình */
    transition: left 1s cubic-bezier(0.25, 0.1, 0.25, 1); /* Hiệu ứng chuyển động mượt mà hơn */
}

.main .planet_about_us img.scroll-in {
    left: 0%; /* Di chuyển vào giữa màn hình */
    transform: translateX(-40%); /* Căn giữa */
    animation: rollIn 5s cubic-bezier(0.25, 0.1, 0.25, 1) forwards; /* Kích hoạt animation lăn tròn */
}

.main .about-us-text img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    transition: transform 0.3s ease-in-out;
}

.main .about-us-text img:hover {
    transform: scale(1.1);  
}
/* About Us */

/* Our Story */
img.taskbar_ourstory {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
   }

.items {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.items .item {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.items .item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    transition: transform 0.3s ease-in-out;
}

.items .item img:hover {
    transform: scale(1.1);  
}
/* Our Story */

footer{
    background-color: rgba(0, 0, 139, 0.6);
    box-shadow: 0 4px 6px rgba(0, 0, 139, 1);
}
