* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    color: white;
    min-height: 100vh; /* Đảm bảo body luôn chiếm ít nhất toàn bộ chiều cao của cửa sổ */
    display: flex;
    flex-direction: column;
}

header {
    height: 96px;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-ss1 {
    background-color: #062050f6;
}

.header-ss2 {
    background-color: #06001b;
}

.header-ss3 {
    background-color: #ddba30;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 200px;
    margin-right: 300px;
    transition: 0.5s ease-in-out;
}
.logo img:hover {
    transform: scale(1.15);
    
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #2b56a5a6;
}

.hero {
    text-align: center;
    padding: 1px 0;
}

.hero h1 {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.hero h2 {
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 40px;
}

.planet {
    position: center;
    width: 100%;
    height: 40%;
    margin: 50px auto;
    width:70%;   
}

main {
    flex: 1; /* Đảm bảo main chiếm phần còn lại của chiều cao */
}

main.page-ss1 {
    background: linear-gradient(to bottom, #13294e, #184489);   
}

main.page-ss2 {
    background: linear-gradient(to bottom, #06001b, #2609a7);   
}

main.page-ss3 {
    background: linear-gradient(to bottom, #f5d02d, #ae4104);   
}

.planet-content {
    position: center;
    display: flex;
    justify-content: space-between;
    width: 100%; 
}

.content-left{
    width: 49%; 
    padding: 10px;
    height: 500px;
    border-radius: 8px;
}

.content-right {
    width: 49%; 
    height: 500px; /* Chiều cao cố định */
    border-radius: 8px;
    display: flex;
    flex-direction: column; /* Xếp các phần tử theo chiều dọc */
    justify-content: space-between; /* Trải đều các ô theo chiều dọc */
}

.latest-news{
    position: relative;
    width: 99%;
    margin: 0 auto;
    height: 140px;
    background-color: rgb(150, 178, 238);
    margin: 10px 10px 25px 0;
    border-radius: 8px;
}

.posted-articles {
    background-color: #6e75d4;
    width: 25%;
    height: 100px;
    margin: 20px 0px 10px 10px;
    border-radius: 8px;
    color: white;
}

footer {
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer.footer-ss1 {
    background-color: #062050f6;
}

footer.footer-ss2 {
    background-color: #050144;
}

footer.footer-ss3 {
    background-color: #6b2a04;
}

.cover img{
    width: 100%;
}